.header {
  background: rgba(0, 0, 0, 0.5);
}
.navbar {
  text-align: center;
  padding: 10px 0;
}
.navbarNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item a {
  color: var(--text-color);
  padding: 10px 0;
  text-decoration: none;
}
.nav-item:not(:last-child):hover {
  padding: 20px;
  background: #fff;
}
.nav-item:not(:last-child):hover a {
  color: #000;
}

.menuItem {
  display: inline;
  color: #999;
  padding: 10px 20px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}
